# see https://gist.githubusercontent.com/gitaarik/8735255/raw/7beb07d17ae51e473d0ee963fcd366d40412c5cd/git_submodules.md
[submodule "schemas"]
	path = schemas
	url = git@github.com:elbasel42/schemas.git
